@using ExampleProject.DataAccess.Enums
@model UserViewModel
@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    ViewData["Title"] = "Employee Add";
}
<style>
    #employeeCreateBtn{
        font-size: 17px;
        width: 25%;
    }
</style>

<div class="app-main__outer">
    <div class="app-main__inner">
        <h1>Add Employee</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserRole" class="control-label"></label>
                        <select asp-for="UserRole" class="form-control" asp-items="@Html.GetEnumSelectList<UserRole>()"></select>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3" style="text-align:center">
                <input id="employeeCreateBtn" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>